# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
!wget https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip

--2023-08-05 09:39:17--  https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2023-08-05 09:39:17--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0s

2023-08-05 09:39:17 (131 MB/s) - ‘Data.zip’ saved [16727/16727]

In [ ]:
!unzip Data.zip

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

In [ ]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### **Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата**.¶

In [ ]:
df = pd.DataFrame()

for i in range(10):
    df1 = pd.read_csv('Data/Students_info_{}.csv'.format(i))
    df2 = pd.read_csv('Data/Students_marks_{}.csv'.format(i))
    df = pd.concat([df, pd.merge(df1, df2, on = "index")])
df.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
5,5,female,group B,associate's degree,standard,none,group1,71,83,78
6,6,female,group B,some college,standard,completed,group1,88,95,92
7,7,male,group B,some college,free/reduced,none,group1,40,43,39
8,8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,9,female,group B,high school,free/reduced,none,group1,38,60,50

#### **Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.**

In [ ]:
df = df.drop('index', axis=1)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### **Задание 3. Выведите на экран размеры полученной таблицы**

In [ ]:
df.shape

(1000, 9)

#### **Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)**

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### **Задание 5. Проверьте, есть ли в таблице пропущенные значения**

In [ ]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
#ВЫВОД: в таблице не оказалось пропущенных значений

**Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)**

In [ ]:
df[['math score', 'reading score', "writing score"]].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
df.groupby("test preparation course").mean()

<ipython-input-10-44cd30436ed4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("test preparation course").mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
set(df["lunch"])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df.head(5)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
# Какая доля студентов сдала экзамен по математике (passmark >= 50)?
pass_math = (df["math score"] >= passmark).sum() / df.shape[0]
# Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
yes = (df["test preparation"] == "completed").sum()
pass_math_with_course = ((df["math score"] >= passmark)&(df["test preparation"] == "completed")).sum() / yes
# Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?
women_without_course = ((df["test preparation"] == "none")&(df["gender"] == "female")).sum()
women_without_course_and_math = ((df["test preparation"] == "none")&((df["gender"] == "female")&(df["math score"] < passmark))).sum() / women_without_course
print(pass_math, pass_math_with_course, women_without_course_and_math, sep = "\n")

0.865
0.9217877094972067
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
%%time
print(df.groupby("race/ethnicity")['reading score'].mean())
print()
print(df.groupby("education")['writing score'].min())

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: user 7.2 ms, sys: 0 ns, total: 7.2 ms
Wall time: 11.6 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
%%time
for i in set(df["race/ethnicity"]):
    print(i, df[df['race/ethnicity'] == i]["reading score"].mean())
print()
for j in set(df["education"]):
    print(j, df[df['education'] == j]["writing score"].min())

group E 73.02857142857142
group A 64.67415730337079
group B 67.35263157894737
group D 70.03053435114504
group C 69.10344827586206

some college 19
master's degree 46
bachelor's degree 38
high school 15
some high school 10
associate's degree 35
CPU times: user 22.8 ms, sys: 875 µs, total: 23.7 ms
Wall time: 28.7 ms

In [ ]:
# ВЫВОД: через циклы получается в разы медленнее

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
grouped = pd.pivot_table(df,index=['gender', "education"])
grouped

<ipython-input-18-2b1e50775393>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  grouped = pd.pivot_table(df,index=['gender', "education"])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
df['Math_PassStatus'] = df["math score"].apply(lambda x: 'F' if x < 50 else 'P')
print("Количество студентов, сдавших экзамен по математике:", (df["Math_PassStatus"]=="P").sum())
print("Количество студентов, не сдавших экзамен по математике:", (df["Math_PassStatus"]=="F").sum())
df['Reading_PassStatus'] = df["reading score"].apply(lambda x: 'F' if x < 50 else 'P')
print("Количество студентов, сдавших экзамен по чтению:", (df["Reading_PassStatus"]=="P").sum())
print("Количество студентов, не сдавших экзамен по чтению:", (df["Reading_PassStatus"]=="F").sum())
df['Writing_PassStatus'] = df["writing score"].apply(lambda x: 'F' if x < 50 else 'P')
print("Количество студентов, сдавших экзамен по письму:", (df["Writing_PassStatus"]=="P").sum())
print("Количество студентов, не сдавших экзамен по письму:", (df["Writing_PassStatus"]=="F").sum())
df.head(5)

Количество студентов, сдавших экзамен по математике: 865
Количество студентов, не сдавших экзамен по математике: 135
Количество студентов, сдавших экзамен по чтению: 910
Количество студентов, не сдавших экзамен по чтению: 90
Количество студентов, сдавших экзамен по письму: 886
Количество студентов, не сдавших экзамен по письму: 114

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df["OverAll_PassStatus"] = ((df['Math_PassStatus']=="P")&(df['Reading_PassStatus']=="P")&(df["Writing_PassStatus"]=="P")).apply(lambda x:"P" if x else "F")
print(f'Количество студентов, которые сдали все экзамены:', (df["OverAll_PassStatus"] == "P").sum())
df.head(5)

Количество студентов, которые сдали все экзамены: 812

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
  if average_mark >= 90:
      return 'A'
  if average_mark >= 80:
      return 'B'
  if average_mark >= 70:
      return 'C'
  if average_mark >= 60:
      return 'D'
  if average_mark >= 50:
      return 'E'
  return 'F'

In [ ]:
df['Grade'] = df[['math score', 'reading score', "writing score"]].mean(axis=1).apply(GetGrade)
for i in set(df["Grade"]):
    print(f'Количество студентов, получивших оценку {i}:', (df["Grade"] == i).sum())
df.head(5)

Количество студентов, получивших оценку C: 261
Количество студентов, получивших оценку D: 256
Количество студентов, получивших оценку E: 182
Количество студентов, получивших оценку B: 146
Количество студентов, получивших оценку A: 52
Количество студентов, получивших оценку F: 103

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C